# Dependency directories
node_modules
.bun

# Build output
/dist

# Logs and cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.bun-install-cache
.eslintcache

# Editor and OS files
.DS_Store
*.swp
*.swo

# Git
.git
.gitignore

# Misc
*.local
.env*
